body{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
#navbar{background-color: aqua;}

@media(min-width:600px){.top_navbar{
    box-shadow: 0 0 50px gray !important;
}

#top_action_section{display: flex !important; align-items: center !important;}
}



.user_list_item.active  .user_list_arrow_icon
{
transform: rotate(180deg);

}

.user_list_item.active,.user_list_item.active .collapsible-header
{
background-color: rgba(157, 157, 157, 0.291);

}

table.highlight > tbody > tr:hover{
    background-color: #bbdefb;
}

.container
{
    width: 100% !important;
}
.filter_shadow{filter: drop-shadow(2px 4px 6px #0a6ab6 );}




.add_user_modal_back
{
    position: fixed;
    width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
top: 0;
left: 0;
z-index: 999;
}
.add_user_modal
{
    position: fixed;
height: 70vh;
background-color: white;
bottom: 0;
z-index: 1000;
border-radius: 15px 15px 0 0;
left: 0;
right: 0;
bottom: -70vh;
}
.add_user_modal.show
{
    box-shadow: 0 0 10 blue;
bottom: 0vh;
}